<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Filbert" version="0.1.4617.2621" requireReinstallation="True" />
  <package id="fluorinefx" version="1.2.3" requireReinstallation="True" />
  <package id="jayrock-json" version="0.9.12915" requireReinstallation="True" />
  <package id="Jil" version="0.5.5" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net40" />
  <package id="log4net" version="1.2.10" requireReinstallation="True" />
  <package id="mongocsharpdriver" version="1.8.2" targetFramework="net40" />
  <package id="MsgPack" version="0.1.0.2011042300" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" requireReinstallation="True" />
  <package id="protobuf-net" version="2.0.0.640" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.59" targetFramework="net40" />
  <package id="Sigil" version="3.2.0" targetFramework="net45" />
</packages>